{% extends "search/base.html" %}
{% block content %}
<form style="text-align: center;" method="GET" action="{% url 'search-results' %}">
	<h2>Welcome to EatGuesser!</h2>
	<pre class="tab"> </pre>
	<!--<a style="text-align: center;">Type your products:</a>-->
	<input name="q" value="{{request.GET.q}}" placeholder="Type your products...">
	<button class="btn btn-success" type="submit">
		Search
	</button>
	<pre class="tab"> </pre>
	<input type="checkbox" id="blncd" name="blncd" value="t"> <label for="blncd">Balanced </label>
	<input type="checkbox" id="hprot" name="hprot" value="t"> <label for="hprot">High protein </label>
	<input type="checkbox" id="lfat" name="lfat"  value="t"> <label for="lfat">Low-fat </label>
	<input type="checkbox" id="lcarb" name="lcarb"  value="t"> <label for="lcarb">Low-carb </label>
	<input type="checkbox" id="vegan" name="vegan"  value="t"> <label for="vegan">Vegan </label>
	<input type="checkbox" id="veg" name="veg"  value="t"> <label for="veg">Vegetarian </label>
	<input type="checkbox" id="sugcon" name="sugcon"  value="t"> <label for="sugcon">Sugar-conscious </label>
	<input type="checkbox" id="pnfree" name="pnfree"  value="t"> <label for="pnfree">Peanut-free </label>
	<input type="checkbox" id="tnfree" name="tnfree"  value="t"> <label for="tnfree">Tree-nut-free </label>
	<input type="checkbox" id="alcfree" name="alcfree"  value="t"> <label for="alcfree">Alcohol-free </label>
	<pre class="tab"> </pre>
	<h4>What is EatGuesser?</h4>
	<pre class="tab"> </pre>
	<div>EatGuesser is a simple app that allows you to find the most appropriate kitchen recipe on the basis of the groceries you possess. It may be accomplished by manual typing each name of the product.</div>
</form>
{% endblock content %}