{% extends "search/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<p><h4>Products to buy:</h4></p>
{% for i in data%}
    <div class="content-section">
    	<form method="POST">
    		{% csrf_token %}
        </form>
        
    	<div >
               
               <div>
                {{i.ingredients}}
               </div>
               
        </div>
       
    </div>
    {% endfor %}
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css' rel='stylesheet' />
    <p></p>
    <center>
        <div id='map' style='width: 700px; height: 300px;'></div>
        <script>
            mapboxgl.accessToken = '{{token}}';
            var txt = '{{loc_data}}';
            var cords = txt.split(",");
            var stores = '{{shops}}';
            var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [Number(cords[1]), Number(cords[0])],
            zoom: 15
            });
            /*
            map.on('load', function (e) {
                // Add the data to your map as a layer 
                map.addLayer({
                    "id": "locations",
                    "type": "symbol",
                    // Add a GeoJSON source containing place coordinates and information. 
                    "source": {
                    "type": "geojson",
                    "data": stores
                    },
                    "layout": {
                    "icon-image": "restaurant-15",
                    "icon-allow-overlap": true,
                    }
                });
                });
            */

            /*
            map.on('load', function() {
                // add source and layer for museums
                map.addSource('museums', {
                type: 'vector',
                url: 'mapbox://mapbox.2opop9hr'
                });
                map.addLayer({
                'id': 'museums',
                'type': 'circle',
                'source': 'museums',
                'layout': {
                // make layer visible by default
                'visibility': 'visible'
                },
                'paint': {
                'circle-radius': 8,
                'circle-color': 'rgba(55,148,179,1)'
                },
                'source-layer': 'museum-cusco'
                });
            });
            */

            
            
        </script>
    </center>
    
{% endblock content %}