{% extends "search/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section" style="margin-top:2em;">
    	<form id="f" style="margin-left: auto;	margin-right: auto;" method="POST">
    		{% csrf_token %}
    		<fieldset class="form-group" style="color: #38AA31">
    			<legend class="border-bottom mb-4">Log In</legend>
    			{{ form|crispy }}
    		</fieldset>
    		<div class="form-group">
    			<button class="btn btn-success" style="width: 6em;" type="submit">Login</button>
    		</div>
    	</form>
    	<div class="border-top pt-3">
    		<small class="text-muted">
    			Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
    		</small>
    	</div>
    </div>
	<script>
  
    var shoppingList = document.getElementById('shopping-list');
	shoppingList.classList.add('hide-list');

  	</script>
{% endblock content %}