{% extends "search/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div id="f" class="content-section" style="margin-top:2em;">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 id="account-heading" class="account-heading">{{ user.username }}</h2><style>#account-heading {position: relative; right: +70px;}</style>
          <p id="text-secondary" class="text-secondary">{{ user.email }}</p><style>#text-secondary {position: relative; right: +70px;}</style>
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data" style="margin-left: auto;	margin-right: auto;">
    		{% csrf_token %}
    		<fieldset class="form-group" style="color: #38AA31">
    			<legend class="border-bottom mb-4">Profile Info</legend>
          {{ u_form|crispy }}
          {{ p_form|crispy }}
    		</fieldset>
    		<div class="form-group">
    			<button class="btn btn-success" style="width: 6em;" type="submit">Update</button>
    		</div>
    	</form>
    </div>
    <script>
  
      var shoppingList = document.getElementById('shopping-list');
	    shoppingList.classList.add('hide-list');  

  	</script>
{% endblock content %}